.fileira {
    display: flex;
    gap: 4px;
}

.jogador {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
}

.numero {
    font-size: 45px;
}

.posicao {
    margin-top: -5px;
    font-size: 11px;
}