:root {
    --azul-atlantis: #2daed1;
    --azul-semidark: #338ea7;
    --azul-shadow: #0c5468a2;
    --azul-dark: #042a3f;
    --azul-background: #031a27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
    background-color: var(--azul-background);
    height: 100vh;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  gap: 1.3rem;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.conteudoPrincipal {
  display: flex;
  justify-content: space-around;
}

.post {
  height: 500px;
}

.jogadores {
  display: flex;
  flex-direction: column;
  width: 429px;
  height: 500px;
  padding: 3px;
  background-color: white;
  color: black;
}