* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

ul {
    display: flex;
    font-size: 17px;
    gap: 22px;
}

li {
    list-style: none;
}

li a {
    color: black;
    text-decoration: none;
}